[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
dash-bootstrap-components = "*"
pandas = "*"
statsmodels = "*"
gunicorn = "*"
scikit-learn = "*"
numpy = "*"
plotly = "*"
matplotlib = "*"
seaborn = "*"
ydata-profiling = "*"

[dev-packages]
pytest = "*"

[requires]
# python_version = "3.7"